<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title text-center padding>
      <div class="login-logo">
        <img src="assets/imgs/logo.svg" width="50" alt="logo">
        <h1 text-center>Washrobe</h1>
      </div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="login">
    <div class="header">
      <h2>Login</h2>
    </div>
    <div class="main">
      <form [formGroup]="user" (ngSubmit)="login()">
        <ion-item no-padding>
          <ion-label [class.error]="error['error']  && error['error']['email']" stacked>EMAIL
            <span *ngIf="error['error'] && error['error']['email']">
              <br>{{ error['error']['email'] }}</span>
          </ion-label>
          <ion-input type="email" [(ngModel)]="user.email" formControlName="email" placeholder="example@example.be" value="yawuarsernadelgado@hotmail.be"></ion-input>
        </ion-item>
        <ion-item no-padding>
          <ion-label [class.error]="error['error']  && error['error']['password']" stacked>PASSWORD
            <span *ngIf="error['error'] && error['error']['password']">
              <br>{{ error['error']['password'] }}</span>
          </ion-label>
          <ion-input type="password" [(ngModel)]="user.password" formControlName="password" placeholder="xxxxxxxxxxx" value="test123"></ion-input>
        </ion-item>
        <div class="button">
          <button ion-button type="submit" block>
            LOGIN
          </button>
          <span class="gradient"></span>
        </div>
      </form>
      <div class="create_btn">
        <a (click)="showRegistration()">CREATE ACCOUNT</a>
      </div>
    </div>
    <!-- <div class="footer">
      <div class="or">
        <div class="lines">
          <div class="small"></div>
          <div class="point"></div>
          <div class="big"></div>
        </div>
        <p>OR</p>
        <div class="lines">
          <div class="big"></div>
          <div class="point"></div>
          <div class="small"></div>
        </div>
      </div> -->
    <!-- <div class="social">
        <div class="facebook">
          <div class="gradient"></div>
          <span>Facebook</span>
        </div>
        <div class="google" (click)='loginWithGoogle()'>
          <div class="no-gradient"></div>
          <span>Google</span>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
</ion-content>
