page-login {
    ion-header {
        border-bottom: 0;
        ion-navbar {
            border-bottom: 0;
    
            .login-logo {    
                h1 {
                    font-size: 14px;
                    margin-top: 0;
                    margin-bottom: 0;
                    color: $dark;
                }
            }
        }
    }
}
