<ion-navbar>
    <ion-title padding text-center>
        <div class="color" (click)="openHomePage(icon)">
          <div class="ico">
            <img src="assets/imgs/{{ name }}.svg" width="30" alt="{{ name }}">
          </div>
          <h1>{{ title }}</h1>
        </div>
      </ion-title>
  
    <ion-buttons end>
      <button ion-button icon-only (click)="openLaundry(icon)" class="laundry">
        <img src="assets/imgs/laundry.svg" width="30" alt="laundry">
      </button>
    </ion-buttons>
  
  </ion-navbar>
  