page-item {
    ion-content {
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 3fr 1fr 3fr 1fr;
            grid-auto-rows: minmax(200px, auto);
            grid-gap: 10px;
            .item {
                border: 4px solid $dark;
                display: flex;
                justify-content: center;
                align-items: center;

                .selected {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    background-color: white;

                    h1 {
                        margin: 0;
                    }
                }
            }
        }
    }
}
