<ion-header no-border>
  <custom-header></custom-header>
</ion-header>


<ion-content padding>
  <div (click)="scan()" class="insert">
    <div class="inner">
      <p>Add new Item</p>
      <span></span>
    </div>
  </div>
  <div class="container">
    <div *ngIf="items?.length > 0" class="grid">
      <div *ngFor="let category of items; let i = index" [attr.data-index]="i" [ngClass]="'item item-' + (i + 1)" (click)="showDetail(category)">
        <div class="no-gradient"></div>
        <div *ngIf="isOpen" class="selected gradient">
          <div class="close">
            <img-loader src="../../assets/imgs/cross.svg"></img-loader>
          </div>
          <div class="content">
            <div class="header">
              <h2>{{ category.name }}</h2>
              <span>merk:
                <span class="bold">{{ category.brand }}</span>
              </span>
            </div>
            <div class="main"></div>
            <div class="footer">
              <ul>
                <li (click)="action($event, category)" *ngFor="let icon of icons" data-id="{{ category.id }}">
                  <img src="../../assets/imgs/{{ icon.image }}.svg" width="{{ icon.width }}" alt="{{ icon.alt }}">
                </li>
              </ul>
            </div>
          </div>
        </div>
        <img-loader src="{{ category.image }}" (load)="onImageLoad($event)" class="item-images" spinner="true"></img-loader>
      </div>
    </div>
  </div>

</ion-content>
