<ion-header no-border>
  <item-header [item]="item"></item-header>
</ion-header>

<ion-content padding>
  <div *ngIf="hasLaundry" (click)="goToOverview()" class="insert wash">
    <div class="inner">
      <p>Washing Time</p>
      <span></span>
    </div>
  </div>

  <div *ngIf="!hasLaundry" class="insert wash disabled">
    <div class="inner">
      <p>No laundry</p>
      <span></span>
    </div>
  </div>

  <div class="container">
    <div *ngIf="items?.length > 0">
      <ngx-masonry [useImagesLoaded]="true" [updateLayout]="updateMasonryLayout">
        <ngxMasonryItem class="masonry-item" *ngFor="let item of items; let i = index" [attr.data-index]="i" [ngClass]="'item item-' + (i + 1)"
          (click)="showDetail($event, item)">
          <div class="no-gradient"></div>
          <div class="gradient" [ngClass]="{'show': (current == item.id), 'hide':(current != item.id)}">
            <div class="close" (click)="close($event)">
              <img src="assets/imgs/cross.svg">
            </div>
            <div class="content">
              <div class="header">
                <h2>{{ item.name }}</h2>
                <span>merk:
                  <span class="bold">{{ item.brand }}</span>
                </span>
                <p>{{ item.info }}</p>
              </div>
              <div class="main">
                <ul class="symbol">
                  <li *ngFor="let symbol of item.symbols">
                    <span [innerHTML]="symbol.icon"></span>
                  </li>
                </ul>
              </div>
              <div class="footer">
                <ul>
                  <li (click)="delete(item)">
                    <img src="assets/imgs/trashbagNG.svg" width="15" alt="Trashbag">
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <span class="amount" *ngIf="item.amountOfItems > 1">{{ item.amountOfItems }}x</span>
          <img-loader src="{{ item.image }}" class="item-images" spinner="true"></img-loader>
        </ngxMasonryItem>
      </ngx-masonry>
    </div>

    <div *ngIf="items.length == 0" class="no-item">
      <p>No Items</p>
    </div>
  </div>
</ion-content>
