page-washing {
  .container {
    .color {
        width: calc(50% - 25px); 

        height: 150px;
        border: 4px solid $dark;
        border-radius: 4px;
        margin:0 12.5px 25px 12.5px;
    
        position: relative;
        contain: unset;

        &.dis {
          opacity: 0.25;
        }

        div {
          width: 100%;
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:nth-child(2) {
          margin-top: 75px;
        }

        &:nth-child(2), &:nth-child(3) {
          height: 225px;
        }

      &.white {
        h1 {
          color: $dark;
        }
      }

      .overlay,
      .gradient,
      .no-gradient {
        width: calc(100% + 8px);
        height: calc(100% + 8px);
      }
      .overlay {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: -1;
        border-radius: 4px;
        background: $dark;
      }
      .no-gradient {
        border: 4px solid $dark;
        border-radius: 4px;
      }
      h1 {
        font-size: 24px;
        margin: 0;
        &.white {
          color: white;
        }
      }
    }
  }
}
