<ion-header no-border>
  <custom-header [icon]="1"></custom-header>
</ion-header>


<ion-content padding>
  <!-- Design the layout and information -->
  <div (click)="chooseLocation()">Choose location</div>
  <div class="container">
    <div *ngFor="let key of keys;" class="color {{ key }}" (click)="getColor(key)">
      <div *ngIf="key == 'coloured'" class="gradient"></div>
      <div *ngIf="key == 'black'" class="overlay"></div>
      <div *ngIf="key == 'white'" class="no-gradient"></div>

      <h1 [class.white]="key == 'coloured' || key == 'black'">{{ key }}</h1>
    </div>
  </div>
</ion-content>
