<!-- Generated template for the CalendarComponent component -->
<div class="container">
  <div class="no-gradient"></div>
  <ion-grid>
    <ion-row>
      <ion-col class="week">
        <div *ngFor="let day of days; let id = index" [class.current]="id === currentSelected" class="date" (click)="showClothesByDay(id, day)">
          <span class="day">{{ day.getDate() }}</span>
          <span class="month">{{ months[day.getMonth()] }}</span>
        </div>
      </ion-col>
      <ion-col class="items" col-10>
        <div *ngFor="let type of typeOfClothes" class="item {{ type.class }}" [class.empty]="type.data.length == 0">
          <div *ngIf="type.id == data['categoryID']" class="wrapper">
              <img-loader *ngIf="type.data.length > 0" src="{{ type.data[0]['image'] }}"></img-loader>

              <div *ngIf="type.data.length == 0" (click)="addItemToCalendar(type.id)" class="no-item">
                <div class="icon">
                  <img width="15" src="assets/imgs/plusBl.svg" alt="plus">
                  <p>Add
                    <span>{{ type.class }}</span>
                  </p>
                </div>
              </div>
          </div>
          <div *ngIf="type.id != data['categoryID']" class="wrapper disabled">
              <img-loader *ngIf="type.data.length > 0" src="{{ type.data[0]['image'] }}"></img-loader>

              <div *ngIf="type.data.length == 0" class="no-item">
                <div class="icon">
                  <img width="15" src="assets/imgs/plusBl.svg" alt="plus">
                  <p>Add
                    <span>{{ type.class }}</span>
                  </p>
                </div>
              </div>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>
