<button class="close" (click)="close()">
  <img src="assets/imgs/cross.svg" alt="cross" width="15">
</button>
<ion-grid>
  <ion-row>
    <ion-col class="week">
      <div *ngFor="let day of days; let id = index" [ngClass]="{'current': (id === currentSelected), 'disabled': (currentDay > day) }"
        class="date" (click)="showClothesByDay(id, day)">
        <span class="day">{{ day.getDate() }}</span>
        <span class="month">{{ months[day.getMonth()] }}</span>
      </div>
    </ion-col>
    <ion-col class="items" col-10>
      <ion-item>
        <ion-select [(ngModel)]="week" (ionChange)="getWeek(week);">
          <ion-option value="0" selected>This week</ion-option>
          <ion-option value="1">Next week</ion-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let type of typeOfClothes" class="cloth {{ type.class }}" [class.empty]="type.data.length == 0">
        <div *ngIf="type.id == data['categoryID']" class="wrapper">
          <div *ngIf="type.data.length > 0" class="image">
            <div class="delete" (click)="remove(type.data)"></div>
            <img-loader *ngIf="type.data.length > 0" src="{{ type.data[0]['image'] }}"></img-loader>
          </div>
          <div *ngIf="type.data.length == 0" (click)="addItemToCalendar(data.user_itemID)" class="no-item">
            <div class="icon">
              <img width="15" src="assets/imgs/plusBl.svg" alt="plus">
              <p>Add
                <span>{{ type.class }}</span>
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="type.id != data['categoryID']" class="wrapper disabled">
          <img-loader *ngIf="type.data.length > 0" src="{{ type.data[0]['image'] }}"></img-loader>

          <div *ngIf="type.data.length == 0" class="no-item">
            <div class="icon">
              <img width="15" src="assets/imgs/plusBl.svg" alt="plus">
              <p>Add
                <span>{{ type.class }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ion-col>

  </ion-row>
</ion-grid>
