<ion-header no-border>
  <custom-header [icon]="1"></custom-header>
</ion-header>

<ion-content padding>
  <div *ngIf="hasLaundry" (click)="goToOverview()" class="insert wash">
    <div class="inner">
      <p>Washing Time</p>
      <span></span>
    </div>
  </div>

  <div *ngIf="!hasLaundry" class="insert wash disabled">
    <div class="inner">
      <p>No laundry</p>
      <span></span>
    </div>
  </div>

  <div class="container">
    <ngx-masonry [useImagesLoaded]="true" [updateLayout]="updateMasonryLayout">
      <ngxMasonryItem class="masonry-item" *ngFor="let category of categories; let i = index" [attr.data-index]="i" [ngClass]="'item item-' + (i + 1)"
        (click)="showCategory(category.id);">
        <div class="gradient"></div>
        <div class="inner">
          <span>{{ category.amount }} x</span>
          <p>{{ category.name }}</p>
        </div>
      </ngxMasonryItem>
    </ngx-masonry>
  </div>

</ion-content>
