<ion-navbar hideBackButton>

  <button ion-button menuToggle class="hamburger" primary>
    <img src="assets/imgs/hamburger.svg" width="20" alt="logo">
  </button>

  <ion-title padding text-center>
    <div class="login-logo image-{{ icon }}" (click)="openHomePage(icon)">
      <img src="{{ headImage }}" width="25" alt="logo">
      <h1>{{ title }}</h1>
    </div>
  </ion-title>

  <ion-buttons end>
    <button ion-button icon-only (click)="openLaundry(icon)" class="laundry image-{{ icon }}">
      <img src="{{ subImage }}" width="30" alt="logo">
    </button>
  </ion-buttons>

</ion-navbar>
