<ion-header no-border>
  <custom-header [icon]="1"></custom-header>
</ion-header>

<ion-content padding>
  <div *ngFor="let material of materials | keys" class="material">
    <div class="top">
      <h4>{{ material }}</h4>
      <ion-item>
        <ion-checkbox [(ngModel)]="isWashed" (ionChange)="showModal(materials[material])"></ion-checkbox>
      </ion-item>
    </div>
    <ngx-masonry [useImagesLoaded]="true" [updateLayout]="updateMasonryLayout">
      <ngxMasonryItem class="masonry-item" *ngFor="let item of materials[material]">
        <div class="no-gradient"></div>
        <img-loader src="{{ item['image'] }}"></img-loader>
      </ngxMasonryItem>
    </ngx-masonry>
  </div>
</ion-content>
