<ion-header no-border>
  <custom-header [icon]="1"></custom-header>
</ion-header>

<ion-content padding>
    <div class="toppie">
        <div class="information">
          <div class="title">
            <span class="icon"></span>
            <span>Map</span>
          </div>
          <div class="content">
            <div class="name">
              <p>{{ washroom[0]?.name }}</p>
            </div>
            <div class="address">
              <p>{{ washroom[0]?.street }} {{ washroom[0]?.number }}</p>
            </div>
            <div class="city">
              <p>{{ washroom[0]?.zipcode }} {{ washroom[0]?.city }}</p>
            </div>
          </div>
          <a (click)="chooseLocation()">Change place</a>
        </div>
        <div class="extra-info">
          <div class="am">
            <p>Amount of Machines</p>
            <div class="machines">
              <div class="machine" *ngFor="let machine of amountOfMachines"></div>
            </div>
          </div>
          <div class="price">
              <p>Avg. Price</p>
              <span *ngIf="washroom[0]?.price == undefined">Add a Washroom</span>
              <span *ngIf="washroom[0]?.price == 1">&euro;</span>
              <span *ngIf="washroom[0]?.price == 2">&euro;&euro;</span>
              <span *ngIf="washroom[0]?.price == 3">&euro;&euro;&euro;</span>
            </div>
        </div>
      </div>
  <div *ngFor="let material of materials | keys" class="material">
    <div class="top">
      <h4>{{ material }}</h4>
      <ion-item>
        <ion-checkbox [(ngModel)]="isWashed" (ionChange)="showModal(materials[material])"></ion-checkbox>
      </ion-item>
    </div>
    <ngx-masonry [useImagesLoaded]="true" [updateLayout]="updateMasonryLayout">
      <ngxMasonryItem class="masonry-item" *ngFor="let item of materials[material]">
        <div class="no-gradient"></div>
        <img-loader src="{{ item['image'] }}"></img-loader>
      </ngxMasonryItem>
    </ngx-masonry>
  </div>
</ion-content>
