<ion-header no-border>
  <custom-header [icon]="1"></custom-header>
</ion-header>

<ion-content padding>
  <div *ngFor="let material of materials | keys" class="material">
    <h4>{{ material }}</h4>
    <ngx-masonry [useImagesLoaded]="true" [updateLayout]="updateMasonryLayout">
        <ngxMasonryItem class="masonry-item" *ngFor="let item of materials[material]">
          <div class="no-gradient"></div>
          <img-loader src="{{ item['image'] }}"></img-loader>
       </ngxMasonryItem>
    </ngx-masonry>
  </div>
</ion-content>
