page-intro {
    .intro-logo {
        h1 {
            margin-top: 10px;
            margin-bottom: 0;

            font-family: 'Gotham Rounded';
            font-weight: bold;
            font-size: 36px;
            color: $dark;
            letter-spacing: 0;
        }
    }
}
