page-calendar {
  ion-content {
    .scroll-content {
      .grid {
        height: 100%;
        .row {
          height: 100%;
          .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &.week,
            &.items {
              height: 95%;
            }

            &.items {
              display: inline-block;
              ion-item {
                padding: 0 0 0 5px !important;
                height: 44px !important;
                &.item-select {
                  width: 100%;
                }
                .item-inner {
                  border: 0;
                  .input-wrapper {
                    ion-select {
                      padding: 0px 8px 0px 0;
                      .select-text {
                        color: $dark;
                        overflow: initial;
                        min-width: auto;
                      }
                      .select-icon {
                        left: 10px;
                        .select-icon-inner {
                          background-image: url('../assets/imgs/select-arrow.svg');
                          background-repeat: no-repeat;
                          background-position: center 10px;
                          background-size: contain;
                          border: 0;
                          height: 100%;
                          width: 100%;
                          left: 0;
                          top: 0;
                        }
                      }
                    }
                  }
                }
              }
              .item {
                height: 50%;
                width: 50%;
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px 5px;
                border-radius: 4px;
                &.empty {
                  .no-item {
                    height: 100%;
                    width: 100%;
                    background-color: $grey;
                    border: 4px solid $dark;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .icon {
                      text-align: center;
                      p {
                        margin: 0;
                        color: $dark;
                        font-size: 12px;
                        span {
                          text-transform: capitalize;
                        }
                      }
                    }
                  }
                }
                img-loader {
                  background-size: cover !important;
                  background-position: center center;
                  border-radius: 4px;
                }
              }
            }
            .date {
              text-align: center;

              &.disabled {
                opacity: 0.25;
              }

              &.current {
                span {
                  color: $active;
                }
              }
              span {
                display: block;
                color: $dark;
                &.day {
                  font-size: 24px;
                  line-height: 24px;
                  font-weight: bold;
                }
                &.month {
                  font-size: 14px;
                  font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif !important;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
}
