page-washing-degree {
  .top {
    width: 100%;
    border: 4px solid $dark !important;
    border-radius: 4px;
    height: 125px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    .information {
      width: 50%;
      text-align: center;
      .title {
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        .icon {
          display: block;
          background-image: url(../assets/imgs/marker.svg);
          background-repeat: no-repeat;
          height: 17px;
          width: 12px;
          margin-right: 10px;
        }
        span {
          font-family: 'Gotham Rounded';
          font-weight: 500;
          color: $dark;
          float: left;
        }
        &::after {
          clear: both;
          content: '';
          display: block;
        }
      }
      .content {
        font-size: 12px;
        p {
          font-family: 'Gotham Rounded Book';
          margin: 0;
        }
      }
    }
    .extra-info {
      width: 50%;
      text-align: center;
      .price,
      .am {
        font-family: 'Gotham Rounded Book';
        p {
          font-family: 'Gotham Rounded';
          font-weight: 500;
          margin: 0;
        }
      }
      .am {
        margin-bottom: 20px;
        .machines {
          display: flex;
          justify-content: center;
          .machine {
            background-image: url('../assets/imgs/machine.svg');
            background-repeat: no-repeat;
            width: 14px;
            height: 16px;
            margin: 0 2.5px;
          }
        }
      }
    }
    a {
      display: block;
      font-family: 'Gotham Rounded';
      font-weight: 500;
      color: $active;
      text-decoration: underline;
      margin-top: 5px;
    }
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(150px, max-content) repeat(auto-fill, 150px) 20%;
    grid-gap: 20px 20px;
    padding: 16px;
    .degree {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 4px solid $dark;
      border-radius: 4px;
      position: relative;
      contain: unset;
      .no-gradient {
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        border: 4px solid $dark;
        border-radius: 4px;
      }
      h1 {
        font-size: 24px;
        color: $dark;
      }
    }
  }
}
